In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from tqdm import tqdm

from sklearn.preprocessing import MinMaxScaler


from sklearn.metrics import ConfusionMatrixDisplay, confusion_matrix, classification_report, accuracy_score

In [3]:
data = pd.read_csv('weight-height.csv')

In [4]:
data

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[10000 rows x 3 columns]

In [5]:
scale = MinMaxScaler()
scale.fit(data[['Height', 'Weight']])
#X = pd.DataFrame(scale.transform(data[['Height', 'Weight']]), columns=['Height', 'Weight'])

In [6]:
data['Gender'] = data['Gender'].replace({'Male':0, 'Female':1})

In [19]:
X = data.drop(columns='Gender')
y = data['Gender']

In [20]:
train_X, test_X, train_y, test_y = train_test_split(X,y, test_size=0.3, random_state=2)

In [21]:
test_X

         Height      Weight
7878  61.068054  105.311141
3224  63.012445  162.690594
1919  70.404724  195.422711
4432  68.775504  199.601514
4835  67.076969  182.555285
...         ...         ...
6772  62.638457  136.629534
4048  64.805303  147.363350
623   72.080201  202.867237
9952  63.024205  134.008136
3124  70.893890  194.687101

[3000 rows x 2 columns]

In [22]:
model = GaussianNB()

In [23]:
model.fit(train_X,train_y)

GaussianNB()

In [24]:
train_pred = model.predict(train_X)
test_pred = model.predict(test_X)

In [25]:
model.predict(test_X)

array([1, 1, 0, ..., 0, 1, 0])

In [26]:
train_pred = model.predict(train_X)
test_pred = model.predict(test_X)

In [27]:
print("Train Result")
print(confusion_matrix(train_y, train_pred))
print(accuracy_score(train_y, train_pred))
print(classification_report(train_y, train_pred))

Train Result
[[3089  407]
 [ 386 3118]]
0.8867142857142857
              precision    recall  f1-score   support

           0       0.89      0.88      0.89      3496
           1       0.88      0.89      0.89      3504

    accuracy                           0.89      7000
   macro avg       0.89      0.89      0.89      7000
weighted avg       0.89      0.89      0.89      7000

In [28]:
print("Test Result")
print(confusion_matrix(test_y, test_pred))
print(accuracy_score(test_y, test_pred))
print(classification_report(test_y, test_pred))

Test Result
[[1339  165]
 [ 171 1325]]
0.888
              precision    recall  f1-score   support

           0       0.89      0.89      0.89      1504
           1       0.89      0.89      0.89      1496

    accuracy                           0.89      3000
   macro avg       0.89      0.89      0.89      3000
weighted avg       0.89      0.89      0.89      3000